body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding-bottom: 5%;
  box-sizing: border-box;
}

h1 {
  color: #911C1C;
  margin-right: 100px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  color: #D3573C;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  color: black;
  background-color: #DB8876;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-top: 25px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
article a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
article img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}
article h2 {
  margin: 7% 0 0 0;
}
article > p {
  margin: 0.5% 0;
}
article :nth-child(3) {
  color: #901C1C;
  font-size: 13px;
  font-weight: 400;
}
article :nth-child(4) {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
article :nth-child(5) {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
}

.photograph-header {
  box-sizing: border-box;
  background-color: #FAFAFA;
  height: 300px;
  margin: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 3%;
}
.photograph-header-infos h1 {
  font-size: 64px;
  color: #D3573C;
  font-weight: 400;
  margin: 0;
}
.photograph-header-infos :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
}
.photograph-header-infos :nth-child(3) {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #525252;
}
.photograph-header img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

h2 {
  margin: 7% 0 0 0;
}

aside {
  box-sizing: border-box;
  width: 330px;
  height: 60px;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 50px;
  background-color: #DB8876;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 2.5%;
  z-index: 1;
}
aside p {
  font-weight: 600;
  font-size: 24px;
  color: black;
}
aside .number-likes {
  display: flex;
  align-items: center;
  gap: 10px;
}
aside .number-likes i {
  font-size: 19px;
  color: black;
  font-weight: 700;
}

#contact_modal {
  box-sizing: border-box;
  display: none;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 100;
  background-color: white;
  height: 100%;
}

.modal {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  padding-top: 0;
  margin: auto;
}
.modal-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  height: auto;
  align-items: flex-start;
}
.modal-header-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modal-header-title img {
  cursor: pointer;
}
.modal-header-title h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  color: black;
}
.modal-header h3 {
  font-size: 64px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
.modal-form {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.modal-form button {
  margin-top: 4%;
}
.modal-form button:hover {
  background-color: #D3573C;
}
.modal-form-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: self-start;
}
.modal-form-items label {
  color: #312E2E;
  font-size: 36px;
}
.modal-form-items input {
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 2%;
  font-size: 25px;
}
.modal-form-items p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: none;
}
.modal-form-items textarea {
  min-height: 170px;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  padding: 2%;
  border: none;
  border-radius: 5px;
}

.sort {
  width: 86%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sort p {
  font-size: 18px;
  font-weight: 700;
}

.dropdown {
  position: relative;
  width: 170px;
  height: 60px;
  border-radius: 5px;
}
.dropdown:hover::before {
  border-color: black;
}
.dropdown.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dropdown.active::before {
  top: 24px;
  transform: rotate(-225deg);
}
.dropdown.active .dropdown-options {
  display: block;
}
.dropdown::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 22px;
  z-index: 1;
  width: 8px;
  height: 8px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}
.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 1.2em;
  border: none;
  outline: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  padding: 12px 20px;
  border-radius: inherit;
}
.dropdown-options {
  position: absolute;
  top: 60px;
  width: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}
.dropdown-options div {
  cursor: pointer;
}
.dropdown-options div:hover {
  background: #DB8876;
  color: black;
}

.dropdown-button {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0px;
}
.dropdown-button span {
  display: block;
  height: 100%;
  width: 90%;
  margin: auto;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 60px;
}
.section-media a {
  position: relative;
}
.section-media a > img {
  width: 350px;
  height: 300px;
  border-radius: 7px;
}
.section-media a > video {
  width: 350px;
  height: 300px;
  border-radius: 7px;
  object-fit: cover;
}
.section-media footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 6px;
  box-sizing: border-box;
}
.section-media footer p {
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
}

.media-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.media-div i {
  font-size: 19px;
}
.media-div i:hover {
  cursor: pointer;
}

.far.fa-heart.liked {
  color: red;
  font-weight: 700;
}

.media-video::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #fff;
  transform: translate3d(-50%, -50%, 0);
}

.lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: none;
}
.lightbox.show {
  display: flex;
  overflow: hidden;
}

.content {
  width: 70%;
  height: 1040px;
  position: relative;
}
.content-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-video {
  display: none;
  width: 100%;
  height: 100%;
  margin-top: -100px;
}
.content-title {
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
}
.content-button {
  width: 38px;
  height: 38px;
  border: none;
  background: none;
  border-left: 8px solid #901C1C;
  border-top: 8px solid #901C1C;
}
.content-button:hover {
  cursor: pointer;
}
.content-button.previous {
  transform: rotate(-45deg);
  position: absolute;
  top: 495px;
  left: -60px;
}
.content-button.next {
  transform: rotate(135deg);
  position: absolute;
  top: 495px;
  right: -60px;
}
.content-button.close {
  border: none;
  color: #901C1C;
  font-size: 110px;
  position: absolute;
  top: 6px;
  right: -80px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
