.section-media{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 60px;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    a{
        position: relative;
    }
    a >img{
        width: 350px;
        height: 300px;
        border-radius: 7px;
    }
    a > video{
        width: 350px;
        height: 300px;
        border-radius: 7px;
        object-fit: cover;
        
        // &::after{
        //     content: "aze";
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     width: 50px;
        //     height: 50px;
        //     border-top: 20px solid black;
        //     border-bottom: 20px solid black;
        //     border-left: 30px solid black;
        //     // transform: translate3d(-50%, -50%, 0);
        // }
    }
    footer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 6px;
        box-sizing: border-box;
        p{
            font-size: 24px;
            font-weight: 400;
            color: $primary-color;
        }
    }
}

.media-div{
    display: flex;
    align-items: center;
    gap: 10px;
    i{
        font-size: 19px;
        &:hover{
            cursor: pointer;
        }

    }
}

.far.fa-heart.liked{
    color: red;
    font-weight: 700;
}

.media-video::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0; 
        height: 0; 
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 30px solid #fff;
        transform: translate3d(-50%, -50%, 0);

}

