#sort{
}


.sort{
    width: 86%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    p{
        font-size: 18px;
        font-weight: 700;

    }
}

.dropdown{
    position: relative;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    &.active{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        &::before{
            top: 24px;
            transform: rotate(-225deg); 
        }
        .dropdown-options{
            display: block;
        }
    }
    &::before{
        content: "";
        position: absolute;
        top: 24px;
        right: 22px;
        z-index: 1;
        width: 8px;
        height: 8px;
        border: 2px solid $primary-color;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(-45deg);
        transition: 0.5s;
        pointer-events: none;
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 1.2em;
        border: none;
        outline: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        padding: 12px 20px;
        border-radius: inherit;
    }
    &-options{
        position: absolute;
        top: 60px;
        width: 100%;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        display: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 1;
        div{
            cursor: pointer;
            &:hover{
                background: #62baea;
                color: #fff;
            }
        }
    }
}


.dropdown-button{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0px;
    span{
        display: block;
        height: 100%;
        width: 90%;
        margin: auto;
        padding-left: 10px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
    }
}

*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}







