body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

main{
    padding-bottom: 5%;
    box-sizing: border-box;
}
h1 {
    color: $primary-color-2;
    margin-right: 100px;
    font-weight: 400;
}

 h2{
    font-size: 36px;
    font-weight: 400;
    color: $secondary-color;
    
}



// h1, h2, h3 {

// }

// h2{

// }

// h3{

// }
